<h1>Carrito de compras</h1>

<ul>
    <div class="card-container" >
  {{#each productsInCart}}
      <div class="card">
       <p>{{this.product.title}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    </div>

  {{/each}}
  </div>
  </ul>